#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.asset-select {
  background-color: grey;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
}

.image-preview {
  background-color: lightgray;
  height: 300px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: thick solid black;
}